body {
    background-color: #1B2838;
}

/*p {
    color: red;
}*/

nav {
    background-color: #171d25;
}

b2 {
    color: white;
}


.helptext {
    color:#5eafde;
}

.benvenuto {
    text-align: center;
    color: DodgerBlue;
}


.titoli {
    color:White;
}

img {
    border-radius: 5px 5px 0 0;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin: 10px;
}

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* Add some padding inside the card container */
.container1 {
    padding: 2px 16px;
}



/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box
}

/* Container for skill bars */
.container {
    width: 100%; /* Full width */
    /*background-color: #ddd;*/ /* Grey background */
   
}

.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    padding-right: 10px;
    color: white; /* White text color */
}

.html {
    width: 90%;
    background-color: #04AA6D;
}

.js {
    width: 30%;
    background-color: #f44336;
}

.php {
    width: 50%;
    background-color: #808080;
}
/* Dark Grey */

.wow {
    width: 100%;
    background-color: #04AA6D;
}

.gameContainer {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    text-align: left;
    color: #8F98A0;
}

.containerfooter {
    width: 100%; /* Full width */
    background-color: #171a21;
    display: flex;
    flex-wrap: wrap;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    padding: 10px;
}

.footertext {
    color: white;
    max-width: 50%;
}