<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SteamClone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SteamClone.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #171d25;">
            <div class="container-fluid">
               @*  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SteamClone</a> *@


                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="NEGOZIO" >
                    <img src="~/images/logo_steam.svg" style="width:180px; height: 104px;" />
              </a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="NEGOZIO">NEGOZIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="COMMUNITY">COMMUNITY</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="INFORMAZIONI">INFORMAZIONI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ASSISTENZA">ASSISTENZA</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="containerfooter">
            <div>
            <img src="https://store.akamai.steamstatic.com/public/images/footerLogo_valve_new.png" />
            </div>

            <div>
                <h8 class="footertext">© 2024 Valve Corporation. Tutti i diritti riservati. Tutti i marchi appartengono ai rispettivi proprietari negli Stati Uniti e negli altri paesi.<br />IVA inclusa nel prezzo (ove applicabile).   <strong> <u> Informativa sulla privacy   |   Informazioni legali   |   Contratto di sottoscrizione a Steam   |   Rimborsi   |   Cookie </u></strong></h8>
            </div>
            @* <div>
                <h8 class="footer">
                    © 2024 Valve Corporation. Tutti i diritti riservati. Tutti i marchi appartengono ai rispettivi proprietari negli Stati Uniti e negli altri paesi.<br />IVA inclusa nel prezzo (ove applicabile).   <strong> <u> Informativa sulla privacy   |   Informazioni legali   |   Contratto di sottoscrizione a Steam   |   Rimborsi   |   Cookie </u></strong>
                </h8>
            </div> *@
            
           @*  &copy; 2024 - SteamClone - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
