
 <body>
<h1>@ViewData["Title"]</h1>
   
<head>
        
        <h2 class="titoli">Attività della Comunità</h2>

        <p style="color:Gray;">
            I contenuti ufficiali e della Comunità per tutti i giochi e software su Steam.
        </p>

        <p>
            <br />
            <br />
            <br />

            <h7 style="color: #c6d4df;">Benvenuto nella Comunità di Steam</h7>

        </p>

</head>



 
 </body>

 <!--
     commento
 -->

  