

 <body>
<h1>@ViewData["Title"]</h1>

<head>
        <br />
        <br />
        <br />
        <img src="~/images/logo_steam.svg" style="width:180px; height: 104px;" />
        <p></p>
        <h5 style="color:lightgray;">
            Steam è il luogo ideale per giocare,<br /> discutere e sviluppare nuovi titoli.
        </h5>

</head>



 
 </body>

 <!--
     commento
 -->

  